Hi {{name}},

It's been over a year since we last saw you log in to your account "sujanweather710"
on PythonAnywhere, and, well, we kind of miss you :-( But we don't want to
keep your data on file if you've decided that you don't want the account any
more -- the last thing we want to do is pester you when you don't want to hear
from us.

If you want to keep the account, all you need to do is go to:

https://www.pythonanywhere.com/login/

and log in before 22 September 2025, and the account will be safe.

If you don't log in before then, we'll completely delete the account

sender:Sangam Thapa
date:{{date}}